/* css tambahan */
.btn-order {
	position: fixed;
	bottom: 30px;
	z-index: 10000000;
	width: 250px;
	margin-left: -300px;
}

.btn-order img {
	width: 250px;
}

@media (min-width: 0px) {
	.btn-order {
		position: fixed;
		bottom: 20px;
		z-index: 10000000;
		width: 150px;
		margin-left: -65px;
	}
}

@media (min-width: 768px) {
	.btn-order {
		position: fixed;
		bottom: 20px;
		z-index: 10000000;
		width: 250px;
		margin-left: -100px;
	}
}

@media (min-width: 992px) {
	.btn-order {
		position: fixed;
		bottom: 20px;
		z-index: 10000000;
		width: 250px;
		margin-left: -300px;
	}
}
