div.p_table_responsive.p_table_hide_caption_column .css3_grid_vertical_align .css3_hidden_caption {
	display: none;
}

/* ------ mobile devices 769 - 1024px ------ */
@media screen and (max-width:1024px) {

	.column_1.column_1_responsive,
	.column_2.column_2_responsive,
	.column_3.column_3_responsive {
		width: 300px !important;
		margin-top: 10px !important;
	}

	div.p_table_1 li.row_style_1 span,
	div.p_table_1 li.row_style_2 span,
	div.p_table_1 li.row_style_3 span,
	div.p_table_1 li.row_style_4 span {
		font-size: 20px !important;
	}

	div.p_table_responsive.p_table_hide_caption_column .css3_grid_vertical_align .css3_hidden_caption {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
		padding: 0 !important;
	}

	div.p_table_responsive.p_table_hide_caption_column div.caption_column {
		display: none;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column li.row_style_4 {
		height: 41px;
	}

	div.p_table_2.p_table_responsive.p_table_hide_caption_column li.row_style_1,
	div.p_table_2.p_table_responsive.p_table_hide_caption_column li.row_style_2,
	div.p_table_2.p_table_responsive.p_table_hide_caption_column li.row_style_3 {
		height: 37px;
	}

	/* ========== COLUMN HOVERS ========== */
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column:hover {
		left: 0;
		top: 0;
		/* shadow */
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	}

	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.active_column:hover div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.active_column:hover {
		left: 0;
		top: 0;
		/* shadow */
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.column_1:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.column_2:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.column_3:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.column_4:hover {
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.active_column:hover {
		left: 0;
		top: 0;
		/* shadow */
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.row_style_4,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.row_style_4,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.row_style_4,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.row_style_4,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.row_style_4 {
		height: 41px;
		padding: 9px 0 !important;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.header_row_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.header_row_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.header_row_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.header_row_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.header_row_1 {
		padding: 0 !important;
		border-radius: 0;
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1 li.header_row_1.radius5_topright,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2 li.header_row_1.radius5_topright,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3 li.header_row_1.radius5_topright,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4 li.header_row_1.radius5_topright {
		border-top-right-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topright: 0;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.header_row_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.header_row_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.header_row_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.header_row_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.header_row_2 {
		padding: 0 0 14px !important;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.footer_row,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.footer_row,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.footer_row,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.footer_row,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.footer_row {
		padding: 10px 0 !important;
	}

	/* ==================== COLUMN RIBBONS  ==================== */
	/* --- hover--- */
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover div.column_ribbon,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover div.column_ribbon,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover div.column_ribbon,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover div.column_ribbon,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column div.column_ribbon {
		right: 0px;
	}

}

/* ------ mobile devices 480 - 768px ------ */
@media screen and (max-width:768px) {

	.column_1.column_1_responsive,
	.column_2.column_2_responsive,
	.column_3.column_3_responsive {
		width: 100% !important;
		margin-top: 10px !important;
	}

	div.p_table_1 li.row_style_1 span,
	div.p_table_1 li.row_style_2 span,
	div.p_table_1 li.row_style_3 span,
	div.p_table_1 li.row_style_4 span {
		font-size: 20px !important;
	}

	div.p_table_responsive.p_table_hide_caption_column .css3_grid_vertical_align .css3_hidden_caption {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
		padding: 0 !important;
	}

	div.p_table_responsive.p_table_hide_caption_column div.caption_column {
		display: none;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column li.row_style_4 {
		height: 41px;
	}

	div.p_table_2.p_table_responsive.p_table_hide_caption_column li.row_style_1,
	div.p_table_2.p_table_responsive.p_table_hide_caption_column li.row_style_2,
	div.p_table_2.p_table_responsive.p_table_hide_caption_column li.row_style_3 {
		height: 37px;
	}

	/* ========== COLUMN HOVERS ========== */
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column:hover {
		left: 0;
		top: 0;
		/* shadow */
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	}

	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.active_column:hover div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.active_column:hover {
		left: 0;
		top: 0;
		/* shadow */
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.column_1:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.column_2:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.column_3:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.column_4:hover {
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.active_column:hover {
		left: 0;
		top: 0;
		/* shadow */
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.row_style_4,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.row_style_4,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.row_style_4,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.row_style_4,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.row_style_4 {
		height: 41px;
		padding: 9px 0 !important;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.header_row_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.header_row_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.header_row_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.header_row_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.header_row_1 {
		padding: 0 !important;
		border-radius: 0;
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1 li.header_row_1.radius5_topright,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2 li.header_row_1.radius5_topright,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3 li.header_row_1.radius5_topright,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4 li.header_row_1.radius5_topright {
		border-top-right-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topright: 0;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.header_row_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.header_row_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.header_row_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.header_row_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.header_row_2 {
		padding: 0 0 14px !important;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.footer_row,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.footer_row,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.footer_row,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.footer_row,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.footer_row {
		padding: 10px 0 !important;
	}

	/* ==================== COLUMN RIBBONS  ==================== */
	/* --- hover--- */
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover div.column_ribbon,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover div.column_ribbon,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover div.column_ribbon,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover div.column_ribbon,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column div.column_ribbon {
		right: 0px;
	}

}

@media screen and (max-width:479px) {

	.column_1.column_1_responsive,
	.column_2.column_2_responsive,
	.column_3.column_3_responsive {
		width: 100% !important;
		margin-top: 10px !important;
	}

	div.p_table_1 li.row_style_1 span,
	div.p_table_1 li.row_style_2 span,
	div.p_table_1 li.row_style_3 span,
	div.p_table_1 li.row_style_4 span {
		font-size: 15px !important;
	}

	/*479px for medicenter tables, default: 979*/
	div.p_table_responsive.p_table_hide_caption_column .css3_grid_vertical_align .css3_hidden_caption {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
		padding: 0 !important;
	}

	div.p_table_responsive.p_table_hide_caption_column div.caption_column {
		display: none;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column li.row_style_4 {
		height: 60px;
	}

	div.p_table_2.p_table_responsive.p_table_hide_caption_column li.row_style_1,
	div.p_table_2.p_table_responsive.p_table_hide_caption_column li.row_style_2,
	div.p_table_2.p_table_responsive.p_table_hide_caption_column li.row_style_3 {
		height: 37px;
	}

	/* ========== COLUMN HOVERS ========== */
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column:hover {
		left: 0;
		top: 0;
		/* shadow */
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	}

	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_13.p_table_responsive.p_table_hide_caption_column div.active_column:hover div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_14.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_15.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_16.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_17.p_table_responsive.p_table_hide_caption_column div.active_column:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.column_1:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.column_2:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.column_3:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.column_4:hover,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.active_column,
	div.p_table_1_18.p_table_responsive.p_table_hide_caption_column div.active_column:hover {
		left: 0;
		top: 0;
		/* shadow */
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.column_1:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.column_2:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.column_3:hover,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.column_4:hover {
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column.p_table_hover_disabled div.active_column:hover {
		left: 0;
		top: 0;
		/* shadow */
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.row_style_4,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.row_style_4,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.row_style_4,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.row_style_4,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.row_style_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.row_style_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.row_style_3,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.row_style_4 {
		height: 41px;
		padding: 9px 0 !important;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.header_row_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.header_row_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.header_row_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.header_row_1,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.header_row_1 {
		padding: 0 !important;
		border-radius: 0;
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1 li.header_row_1.radius5_topright,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2 li.header_row_1.radius5_topright,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3 li.header_row_1.radius5_topright,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4 li.header_row_1.radius5_topright {
		border-top-right-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topright: 0;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.header_row_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.header_row_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.header_row_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.header_row_2,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.header_row_2 {
		padding: 0 0 14px !important;
	}

	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover li.footer_row,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover li.footer_row,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover li.footer_row,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover li.footer_row,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column li.footer_row {
		padding: 10px 0 !important;
	}

	/* ==================== COLUMN RIBBONS  ==================== */
	/* --- hover--- */
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_1:hover div.column_ribbon,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_2:hover div.column_ribbon,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_3:hover div.column_ribbon,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.column_4:hover div.column_ribbon,
	div.p_table_1.p_table_responsive.p_table_hide_caption_column div.active_column div.column_ribbon {
		right: 0px;
	}
}
