.riborns {
	position: fixed;
	width: 230px;
	height: 230px;
	z-index: 10000000;
	right: 0px;
	top: 0px;
}

.fas.fa-times {
	color: red !important;
	font-size: 1.5em !important;
}

.fas.fa-check {
	color: #0f9d58 !important;
	font-size: 1.5em !important;
}

.title {
	color: var(--primary-color);
	padding: 8px 0;
	margin-bottom: 15px;
	border-radius: 2px;
	line-height: .8;
}

.w3l-banner h4 {
	font-size: 18px;
	color: #111;
	font-size: 34px;
	line-height: 1.2;
	margin-top: 100px;
}

.green {
	color: #0f9d58;
}

#testimonials {
	padding-top: 0 !important;
	margin-top: -20px;
}

.promo {
	margin-left: 25px;
}

.reds {
	color: crimson;
}

.imagebutton {
	width: 240px !important;
}

.imagebuttons {
	width: 350px !important;
}

.imagebuttons1 {
	width: 350px !important;
}

/* about3 section */
.w3l-about3 .about-2-secs {
	align-self: center;
}

.w3l-about3 .about-2-secs p {
	margin: 10px 0 30px;
}

.w3l-about3 .about-2-secs ul li {
	margin: 15px 0;
}

.w3l-about3 .about-2-secs li span {
	color: var(--primary-color);
	margin-right: 10px;
	font-size: 18px;
}

@media all and (max-width: 991px) {
	.w3l-about3 .about-2-secs-right {
		order: 2;
	}

	.w3l-about3 .about-2-secs {
		order: 1;
	}
}

@media all and (max-width: 500px) {
	.w3l-about3 .about-2-secs ul li {
		margin: 10px 0;
	}
}

.w3l-about3 {
	background: var(--bg-light);
}

/* //about3 section */

/* about4 section */
.w3l-about4 .about-2-secs {
	align-self: center;
}

.w3l-about4 .about-2-secs p {
	margin: 10px 0 30px;
}

.w3l-about4 .about-2-secs ul li {
	margin: 15px 0;
}

.w3l-about4 .about-2-secs li span {
	color: var(--primary-color);
	margin-right: 10px;
	font-size: 18px;
}

@media all and (max-width: 991px) {
	.w3l-about4 .about-2-secs-right {
		order: 2;
	}

	.w3l-about4 .about-2-secs {
		order: 1;
	}
}

@media all and (max-width: 500px) {
	.w3l-about4 .about-2-secs ul li {
		margin: 10px 0;
	}
}

.w3l-about4 {
	background: var(--clients-bgimg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

/* //about4 section */

/* li feature hide and show */
.li_feature {
	display: none;
}

.button-styles {
	padding: 14px 15px;
	font-size: 14px;
	color: #fff;
	border-radius: 30px;
	font-weight: 600;
	text-transform: uppercase;
	box-shadow: 0 0.5rem 1rem rgb(16 16 16 / 14%);
	outline: none;
	border: none;
	background-size: 200% auto;
	background-image: linear-gradient(90deg, #ffc845 0%, #f85a40 51%, #ffc845 100%);
	transition: all 1.8s ease-in-out;
}

.button-styles:hover {
	background-position: right;
	color: #fff;
}

.special {
	font-size: 24px;
	color: #e30000;
	position: relative;
	text-decoration: none !important;
}

.special:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	right: 0;
	border-top: 1px solid;
	border-color: inherit;

	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.special1 {
	font-size: 30px !important;
	color: #0f9d58;
}

.w3l-footer-16 a.logos {
	margin: 0;
	padding: 0;
	font-size: 40px;
	font-weight: 500;
	color: var(--heading-color);
	background: var(--bg-color);
	padding: 25px;
	border-radius: 30px;
}

.w3l-footer-16 a.logos span {
	font-weight: 500;
	width: 200px;
}

.w3l-footer-16 a.logos:hover {
	color: var(--secondary-color);
}

.imgpromo {
	width: 100px;
	position: absolute;
	right: -50px;
	top: -40px;
	z-index: 1000000000;
}

.imglogo {
	width: 100px;
	left: 2px;
	top: 2px;
}
